/* GATA Change 1: M-am gandit daca poti sa schimbi opacity oleak mai mare la table, ca cifrele de-abia se vad, deamu gandestete tu daca o sa arate mai bine cu opacity mai mare */
/* GATA Change 2: Change font plsss */
html {
    zoom: reset;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    transform: scale(1);
    transform-origin: 0 0;
    width: 100vw;
    height: 100vh;
}

#Main {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    position: relative;
}

img {
    min-height: 100%;
    min-width: 10px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 0;
}

#MainFrame {
    gap: 0px;
    padding: 10px;
    width: 475px;
    height: 475px;
    min-width: 475px;
    min-height: 475px;
    max-width: 475px;
    max-height: 475px;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    align-items: center;
    justify-items: center;

    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#Inputs {
    display: grid;
    grid-template-columns: repeat(9, 47px);
    grid-template-rows: repeat(9, 47px);
    gap: 3px;
    width: 450px;
    height: 450px;
    min-width: 450px;
    min-height: 450px;
    max-width: 450px;
    max-height: 450px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 11;
}

input {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.685);
    cursor: pointer;
    text-align: center;
    width: 47px;
    height: 47px;
    min-width: 47px;
    min-height: 47px;
    max-width: 47px;
    max-height: 47px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Dimon eu ti-am schimbat toate id-urile la input ca sa pot face acolo niste functii la script.js, mai scurt is 81 de id-uri amu, un id pentru fiecare input*/
/* #UpLeft */
#input1, #input4, #input7, #input28, #input31, #input34, #input55, #input58, #input61{
    border-top: 3px solid rgba(255, 255, 255, 1);
    border-left: 3px solid rgba(255, 255, 255, 1);
}
/* #UpRight */
#input3, #input6, #input9, #input30, #input33, #input36, #input57,
#input60, #input63{
    border-top: 3px solid rgba(255, 255, 255, 1);
    border-right: 3px solid rgba(255, 255, 255, 1);
}
/* #DownLeft */
#input19, #input22, #input25, #input46, #input49, #input52, #input73,#input76, #input79{
    border-bottom: 3px solid rgba(255, 255, 255, 1);
    border-left: 3px solid rgba(255, 255, 255, 1);
}
/* #DownRight */
#input21, #input24, #input27, #input48, #input51, #input54, #input75, #input78, #input81{
    border-bottom: 3px solid rgba(255, 255, 255, 1);
    border-right: 3px solid rgba(255, 255, 255, 1);
}
/* #Up */
#input2, #input5, #input8, #input29, #input32, #input35, #input56, #input59, #input62{
    border-top: 3px solid rgba(255, 255, 255, 1);
}
/* #Down */
#input20, #input23, #input26, #input47, #input50, #input53, #input74,#input77, #input80{
    border-bottom: 3px solid rgba(255, 255, 255, 1);
}
/* #Left */
#input10, #input13, #input16, #input37, #input40, #input43, #input64, #input67, #input70{
    border-left: 3px solid rgba(255, 255, 255, 1);
}
/* #Right */
#input12, #input15, #input18, #input39, #input42, #input45, #input66, #input69, #input72{
    border-right: 3px solid rgba(255, 255, 255, 1);
}

#MainTextLabel{
    display: flex;
    gap: 6px;
    width: 400px;
    height: 100px;
    min-width: 400px;
    min-height: 100px;
    max-width: 400px;
    max-height: 100px;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 280px));
    z-index: 15;
}

#Next{
    display: flex;
    gap: 6px;
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(calc(237.5px + 30px), -25px);
    z-index: 15;
}

#NextButton{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    opacity: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.438);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.685);

    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#Previous{
    display: flex;
    gap: 6px;
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(calc(237.5px - 560px), -25px);
    z-index: 15;
}

#PreviousButton{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    opacity: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.438);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.685);

    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#Solve{
    display: flex;
    gap: 6px;
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-100px, calc(237.5px + 30px));
    z-index: 15;
}

#SolveButton{
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    opacity: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.438);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.685);

    width: 100px;
    height: 50px;
    min-width: 100px;
    min-height: 50px;
    max-width: 100px;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ResetButton{
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align: center;
    opacity: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.438);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.685);

    width: 100px;
    height: 50px;
    min-width: 100px;
    min-height: 50px;
    max-width: 100px;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#MainText{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    opacity: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.438);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.685);

    width: 400px;
    height: 50px;
    min-width: 400px;
    min-height: 50px;
    max-width: 400px;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}