#Main {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
}

img {
  min-height: 100%;
  min-width: 10px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: 0;
}

#MainFrame {
  gap: 0px;
  padding: 10px;
  width: 400px;
  height: 400px;
  z-index: 10;

  align-items: center;
  justify-items: center;

  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0, 0, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#Buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 6px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  opacity: 55%;
  color: white;
  background: rgba(0, 0, 0, 0.438);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgb(0, 0, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.685);
  cursor: pointer;

  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#Score{
  display: flex;
  gap: 6px;
  width: 400px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
}

#ScoreBoard{
  font-size: 23px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  opacity: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.438);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgb(0, 0, 0);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.685);

  width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}